.git
.gitignore
node_modules
**/node_modules
dist
**/dist
build
**/build
.env
.env.*
!.env.example
!.env.docker.example
coverage
**/coverage
storage
**/storage
logs
**/logs
.DS_Store
.vscode
.idea
reports
uploads
tmp
.pnpm-store
*.log
