NODE_ENV=development
APP_NAME="Biomed Maintenance API"
APP_VERSION=0.0.1
API_PORT=3000
API_PREFIX=api/v1
SWAGGER_PATH=api/docs
FRONTEND_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://postgres.fwuyorsdspgdoxmcbrav:Nf6X3UszBEtmJlul@aws-1-us-east-2.pooler.supabase.com:6543/postgres"
JWT_ACCESS_SECRET="change-me-access-secret"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_ACCESS_EXPIRES_IN_SECONDS=900
JWT_REFRESH_EXPIRES_IN_SECONDS=604800
